<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/categorys">Category list</a>
</p>
<a href="/create-blog"> Create Blog</a>

<h1>List blog</h1>

<form>
    Search by title:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
            <td><a th:href="@{/view-blog/__${blog.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>
