<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View blog</title>
</head>
<body>
<h1>View blog</h1>
<p>
    <a href="/blogs">Blog list</a>
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Content</th>
        <th>Category</th>
    </tr>
    <th:block th:object="${blog}">
        <tr >
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.date}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.category.name}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>
